/build/

# Ignorar todos los archivos en todas las carpetas y subcarpetas
*

# No ignorar el GITIGNORE
!.gitignore

# No ignorar todos estos archivos
!CMakeLists.txt
!Makefile
!Kconfig.projbuild
!README.md
!sdkconfig
!sdkconfig.*
!*.c
!*.h

# No ignorar archivos incluso si los archivos anteriores estan en sub carpetas
!*/

# No ignorar carpetas llamadas imgs en cualquier lugar del proyecto
!**/imgs/
!**/imgs/**

# Ignorar la carpeta BUILD
build